[Unit]
Description=Veeta API
After=network.target

[Service]
ExecStart=/var/www/veeta-api/server/veeta-api.js
Restart=always
User=ubuntu
Group=ubuntu
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/var/www/veeta-api

[Install]
WantedBy=multi-user.target
